<%= turbo_stream_from tweet %>
<div class='card mb-2' id="<%= dom_id(tweet) %>">
  <div class='card-body'>
    <h5 class='card-title text-muted'>
      <small class='float-right'>Posted at <%= tweet.created_at %></small>
      <%= tweet.username %>
    </h5>
    <div class='card-text lead mb-2'>
      <%= tweet.body %>
    </div>
    <div class='d-flex flex-row'>
      <%= button_to "Retweet #{tweet.retweet_count}", retweet_tweet_path(tweet), method: :post, data: { turbo_prefetch: false }, class: 'btn btn-info mx-3' %>
      <%= button_to "Like #{tweet.likes_count}", like_tweet_path(tweet), method: :post, data: { turbo_prefetch: false }, class: 'btn btn-success mx-3' %>
      <%= button_to 'Delete', tweet_path(tweet), method: :delete, data: { turbo_prefetch: false, turbo_confirm: 'Do you really want to delete this tweet?' }, class: 'btn btn-danger mx-3' %>
    </div>
  </div>
</div>

